<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mtasks</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <main id="initial-card">
        <section id="card">
            <div id="card-title">
                <h1>Bem vindo ao seu gerenciador de tarefas Mtasks</h1>
            </div>
            <div id="card-body">
                <p>Seu aplicativo para te ajudar a gerenciar suas tarefas com ordem e progresso. Tarefas como: Estudo,
                    Tarefas
                    de
                    casa, Compras do Mercado e muitas outras, nunca foram tão fáceis de organizar e gerenciar!</p>
            </div>
            <div id="card-footer">
                <a href="/allTasks"><button class="button-toGo">Entrar</button></a>
            </div>
        </section>
    </main>
</body>

</html>